*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
 }
 body{
    font-family: 'Wix Madefor Display', sans-serif;
 }
 a{
    text-decoration: none;
    color: black;

}
header{
     display: flex;
     height: 90px;
    background-color: #CCD5AE;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
}
.logo{
    display: flex;
}
.logo img{
    height: 80px;
    margin-right: 20px;
}
nav a{
    font-weight: 600;
    padding-right: 20px;
    font-size: 30px;
}
nav a:hover{
    color: white;
}
main{
    grid-area: main;
    display: grid;

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.medio img{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}
.video iframe {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;
}
/*
}
.fotopino{
    width: 170px;
    height: 120%;
    display: flex;
    justify-content: left;

}

.sep{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}
.N{
padding: 10px 20px 10px 20px  ;
    border: 2px solid #CCD5AE;
    display: flex;
    color: white;
    font-size: 20px;
    
} */

/*
}
.header{
;    grid-area: header;
    display: grid;
grid-template-columns: 200px repeat(5,1fr);
}

*/
.ubicados{
    padding-top: 20px;
}
footer{
    background-color: #FAEDCD;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}
footer h6 {
    padding: 20px 0px 10px 10px;
}
.call{
    display: flex;
}
.phone{
    width: 20px;
    height: 20px;
    /* no me deja poner el phone a la misma altura que el numero */
}
.whatsapp{
    position: absolute;
    bottom: 3px;
    right: 5px;
    width: 80px;
} 
@media (max-width:1000px){
nav a{
    font-weight: 600;
    padding-right: 20px;
    font-size: 18px;
}}