* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%;
  /* scroll-behavior: smooth; */ }

body {
  font-family: 'Wix Madefor Display', sans-serif;
  min-height: 100%;
  background-color: black; }

a {
  text-decoration: none;
  color: black; }

li {
  text-decoration: none; }

header {
  display: flex;
  height: 100%;
  background-color: #CCD5AE;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  grid-area: header; }
  header .logo {
    display: flex; }
    header .logo img {
      height: 100px;
      margin-right: 20px; }
  header nav ul a {
    font-weight: 600;
    padding-right: 20px;
    font-size: 30px; }
    header nav ul a:hoover {
      color: white; }

.medioindex {
  grid-area: main;
  margin: 10px 5px 10px 5px;
  border: solid green 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center; }
  .medioindex .imgfrase {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .medioindex .imgfrase .audioobjetivo {
      border: 4px solid black;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px 5px 5px 5px;
      width: 50%;
      background-color: #fefae0; }
      .medioindex .imgfrase .audioobjetivo .objetivofrase {
        font-weight: 100;
        font-size: 50px;
        /* font-family: 'Dancing Script', cursive;  no funciona el cursive a pesar de sacarlo de google*/ }
  .medioindex .video2 {
    width: 70%; }
    .medioindex .video2 .video1 {
      margin-top: 35px;
      padding: 3px;
      border: 5px solid black;
      width: 100%; }

.berazategui {
  grid-area: section;
  background-color: #4f7e4f;
  font-size: 40px;
  padding-left: 20px;
  padding-top: 10px;
  color: white; }

.mainhistoria {
  grid-area: main;
  margin: 10px 5px 10px 5px;
  border: solid green 5px;
  padding: 5px 5px 5px 5px;
  background-color: #fefae0; }
  .mainhistoria .historia1 {
    display: flex;
    margin-bottom: 20px;
    align-items: center; }
    .mainhistoria .historia1 .imglocal {
      width: 50%; }
  .mainhistoria .historia2 {
    display: flex;
    align-items: center; }
    .mainhistoria .historia2 .imgoficina {
      width: 50%; }
    .mainhistoria .historia2 .cuento2 {
      padding-left: 5px; }

.mainservicios {
  grid-area: main;
  margin: 10px 5px 10px 5px;
  border: solid green 5px;
  padding: 5px 5px 5px 5px;
  background-color: #fefae0;
  grid-area: main; }
  .mainservicios h2 {
    font-size: 40px;
    text-align: center; }
  .mainservicios .domicilio {
    text-align: center; }
    .mainservicios .domicilio h3 {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center; }
    .mainservicios .domicilio p {
      font-size: 15px;
      margin-bottom: 10px; }

.mainproducto {
  grid-area: main;
  margin: 10px 5px 10px 5px;
  border: solid green 5px;
  padding: 5px 5px 5px 5px;
  background-color: #fefae0;
  text-align: center; }
  .mainproducto .sectionmusica {
    font-size: 30px;
    border: solid black 3px;
    padding: 5px; }
    .mainproducto .sectionmusica p {
      padding-bottom: 5px;
      font-family: 'Caprasimo', cursive; }
  .mainproducto .sectionproductos h2 {
    font-size: 40px;
    font-family: 'Caprasimo', cursive; }
  .mainproducto .sectionproductos ul h3 {
    font-size: 30px;
    font-family: 'Caprasimo', cursive;
    padding-top: 10px; }
  .mainproducto .sectionproductos ul li {
    font-size: 20px; }
  .mainproducto .formulario {
    padding-top: 10px;
    justify-content: center; }
    .mainproducto .formulario form fieldset {
      display: flex;
      flex-direction: column; }

.maincontacto {
  grid-area: main;
  margin: 10px 5px 10px 5px;
  border: solid green 5px;
  padding: 5px 5px 5px 5px;
  background-color: #fefae0; }
  .maincontacto .atencion {
    text-align: center;
    margin-top: 10px; }
    .maincontacto .atencion iframe {
      width: 100%; }
    .maincontacto .atencion h2 {
      font-size: 60px;
      padding-top: 20px; }
    .maincontacto .atencion ul li {
      font-size: 30px;
      padding-top: 5px; }

footer {
  background-color: #FAEDCD;
  height: 15vh;
  font-size: 20px;
  grid-area: footer; }
  footer .call {
    display: flex; }
    footer .call .phone {
      width: 20px;
      height: 20px;
      margin-top: 18px; }
    footer .call h6 {
      padding: 20px 0px 10px 10px; }
  footer a h6 {
    padding: 20px 0px 10px 10px; }
  footer .whatsapp {
    position: fixed;
    bottom: 3px;
    right: 5px;
    width: 80px; }

.gridcontainer {
  display: grid;
  grid-template-rows: 10vh 120vh 20vh 10vh;
  grid-template-areas: "header" "main" "section" "footer"; }

.grid1 {
  display: grid;
  grid-template-rows: 9vh 80vh 10vh;
  grid-template-areas: "header" "main" "footer"; }

.grid2 {
  display: grid;
  grid-template-rows: 9vh 80vh 10vh;
  grid-template-areas: "header" "main" "footer"; }

.grid3 {
  display: grid;
  grid-template-rows: 9vh 80vh 10vh;
  grid-template-areas: "header" "main" "footer"; }

.grid4 {
  display: grid;
  grid-template-rows: 9vh 100vh 10vh;
  grid-template-areas: "header" "main" "footer"; }

@media (max-width: 1235px) {
  header nav ul a {
    font-size: 25px; }
  .audioobjetivo {
    width: 70%; }
    .audioobjetivo .objetivofrase {
      font-weight: 80;
      font-size: 40px;
      /* font-family: 'Dancing Script', cursive;  no funciona el cursive a pesar de sacarlo de google*/ }
  .berazategui {
    font-size: 30px; }
  .gridcontainer {
    grid-template-rows: 10vh 140vh 20vh 10vh; } }

@media (max-width: 1000px) {
  .audioobjetivo {
    margin-top: 10px;
    margin-bottom: 10px; }
    .audioobjetivo .objetivofrase {
      font-size: 10px;
      /* font-family: 'Dancing Script', cursive;  no funciona el cursive a pesar de sacarlo de google*/ }
    .audioobjetivo img.whatsapp {
      width: 60px;
      height: 60px; }
    .audioobjetivo .sectionproductos h2 {
      margin-bottom: 10px; }
    .audioobjetivo .sectionproductos ul h3 {
      font-size: 30px;
      font-family: 'Caprasimo', cursive;
      padding-top: 10px; }
    .audioobjetivo .sectionproductos ul li {
      font-size: 20px; }
    .audioobjetivo .formulario {
      padding-top: 10px;
      justify-content: center; }
      .audioobjetivo .formulario form fieldset legend {
        font-size: 15px; }
      .audioobjetivo .formulario form fieldset label {
        font-size: 15px; }
      .audioobjetivo .formulario .grid4 {
        grid-template-rows: 10vh 80vh 10vh; } }

@media (max-width: 768px) {
  /*vista tablet*/
  .imgfrase {
    width: 100%; }
    .imgfrase .objetivobeto {
      margin-top: 100px; }
  .video2 {
    width: 100%; }
    .video2 .video1 {
      margin-top: 15px;
      width: 100%;
      height: 400px;
      margin-right: 5px;
      margin-left: 5px; }
  /*historia*/
  .historia1 {
    flex-direction: column; }
    .historia1 .imglocal {
      width: 70%;
      margin-top: 10px; }
  .historia2 {
    flex-direction: column-reverse; }
    .historia2 .imgoficina {
      width: 70%;
      margin-top: 10px; }
  .grid2 {
    grid-template-rows: 10vh 90vh 10vh; }
  .video3 {
    width: 90%; }
  .maincontacto .atencion h2 {
    font-size: 40px; }
  .maincontacto .atencion ul li {
    font-size: 20px; }
  .sectionproductos h2 {
    font-size: 30px; }
  .sectionproductos ul h3 {
    font-size: 25px;
    padding-top: 10px; }
  .sectionproductos ul li {
    font-size: 17px; } }

@media (max-width: 574px) {
  /*vista mobile s*/
  header {
    display: flex;
    flex-direction: column;
    align-items: center; }
    header nav ul {
      display: flex;
      flex-direction: column;
      text-align: center; }
      header nav ul a {
        padding-top: 3px;
        padding-bottom: 3px; }
  .imgfrase {
    flex-direction: column;
    width: 100%;
    align-items: center; }
    .imgfrase .objetivobeto {
      width: 20%;
      height: 20%;
      margin-top: 10px; }
    .imgfrase .objetivofrase {
      font-weight: 80;
      font-size: 30px; }
  .video1 {
    margin-top: 5px;
    width: 100%;
    margin-bottom: 10px; }
  .gridcontainer {
    grid-template-rows: 20vh 85vh 30vh 10vh; }
  img.whatsapp {
    bottom: 3px;
    right: 5px;
    width: 50px;
    height: 50px; }
  .berazategui {
    font-size: 22px; }
  /*historia */
  .grid1 {
    grid-template-rows: 25vh 60vh 10vh; }
    .grid1 .mainhistoria {
      padding-top: 10px; }
      .grid1 .mainhistoria .historia1 .imglocal {
        width: 70%; }
      .grid1 .mainhistoria .historia2 .imgoficina {
        width: 70%; }
  .video3 {
    width: 350px;
    height: 350px; }
  .grid2 {
    grid-template-rows: 25vh 90vh 10vh; }
  .grid3 {
    grid-template-rows: 25vh 80vh 10vh; }
  .grid4 {
    grid-template-rows: 25vh 110vh 10vh; } }

@media (max-width: 400px) {
  .grid4 {
    grid-template-rows: 30vh 135vh 10vh; } }
