    footer{
        background-color: #FAEDCD;
        height: 15vh;
        font-size: 20px;
        grid-area: footer;
        .call{
            display: flex;
            .phone{
                width: 20px;
                height: 20px;
                margin-top: 18px;
            }
            h6 {
                padding: 20px 0px 10px 10px;
            }
        }
        a{
            h6 {
            padding: 20px 0px 10px 10px;
        }
        }
        
    .whatsapp{
        position: fixed;
        bottom: 3px;
        right: 5px;
        width: 80px;
    } 
    }
.gridcontainer{  
    display: grid;
    grid-template-rows: 10vh 120vh 20vh 10vh;
grid-template-areas: 
"header"
"main"
"section"
"footer";
}
.grid1{
@include grid
}
.grid2{
@include grid
}
.grid3{
@include grid
}
.grid4{
    display: grid;
    grid-template-rows: 9vh 100vh 10vh;
grid-template-areas: 
"header"
"main"
"footer";
    }