.maincontacto{
    grid-area: main;
    margin: 10px 5px 10px 5px;
    border: solid green 5px;
    padding: 5px 5px 5px 5px;
    background-color: $color-main;
.atencion{
    text-align: center;
    margin-top: 10px;
    iframe{
        width: 100%;
 
    }
    h2{
        font-size: 60px;
        padding-top: 20px;
    }
    ul li{
font-size: 30px;
padding-top: 5px;
    }
}
}