@media (max-width:574px){   /*vista mobile s*/
    header{
        display: flex;
    flex-direction: column;
    align-items: center;
    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        a{
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
    }
    // index
    .medioindex{
    .imgfrase{
        width: 120%;
        .objetivobeto{
            margin-top: 10px;
            .objetivofrase{
                width: 95%;
audio{
    width: 10%;

                }
        }
        }
}
    }
.video1{
    margin-top: 5px;
    width: 100%;
    margin-bottom: 10px;
    } 
    img.whatsapp{
        width: 50px;
        height: 50px;
    } 
    .berazategui{
        font-size: 22px;
    }
    .gridcontainer{
        grid-template-rows: 25vh 87vh 20vh 10vh;
    }


    /*historia */
    .grid1{
        grid-template-rows: 25vh 60vh 10vh;
        .mainhistoria{
            padding-top: 10px;
            .historia1{
                .imglocal{
                    width: 70%;
                }
            }
            .historia2{
                .imgoficina{
                    width: 70%;
                }
            }
        }
    }
    .video3{
        width: 350px;
        height: 350px;
    }
    .grid2{
        grid-template-rows: 25vh 90vh 10vh;
    }
    .grid3{
        grid-template-rows: 25vh 80vh 10vh;
    }
    .grid4{
        grid-template-rows: 25vh 110vh 10vh;
    }
}

