@media (max-width:768px){  /*vista tablet*/

        .imgfrase{
            width: 100%;
            .objetivobeto{
                margin-top: 100px;
            }
        }
        .video2{
                width: 100%;
                .video1{
                    margin-top: 15px;
                    width: 100%;
                    height: 400px;
                    margin-right: 5px;
                    margin-left: 5px;
                    }
            }
        
        /*historia*/
        .historia1{
            flex-direction: column;
            .imglocal{
                width: 70%;
                margin-top: 10px;
            }    
        }
        .historia2{
            flex-direction: column-reverse;
            .imgoficina{
                width: 70%;
                margin-top: 10px;
            }
        }
    
    .grid2{
        grid-template-rows: 10vh 90vh 10vh;
    }
    .video3{
        width: 90%;
    }
    .maincontacto{
    .atencion{
        h2{
            font-size: 40px;
        }
        ul li{
    font-size: 20px;
        }
    }
    }
    .sectionproductos{
        h2{
            font-size: 30px;
            
        }
        ul{
            h3{
                font-size: 25px;
                padding-top: 10px;
            }
        li{
        font-size: 17px;
        }
            }
        }
}
