
@media (max-width:1264px){
    header nav ul a{
font-size: 25px;
    }
    .audioobjetivo{
        border: 4px solid rgb(0, 0, 0);
        margin-top: 30px;
        margin-bottom: 100px;
        margin-right: 10px;
padding-left: 30px;
        .objetivofrase{
            font-weight: 80;
            font-size: 40px;
            /* font-family: 'Dancing Script', cursive;  no funciona el cursive a pesar de sacarlo de google*/ 
        }
    }
    .berazategui{
        grid-area: section;
        background-color: rgb(79, 126, 79);
        font-size: 30px;
        padding-left: 20px;
        padding-top: 10px;
    color: white;
    }
.medioindex{
    flex-direction: column;
    width: 100%;
}
.video2{
    align-items: center;
}
.gridcontainer{
    grid-template-rows: 10vh 130vh 20vh 10vh;
}
.video1{
       margin-bottom: 50px;
        width: 200%;
        } 
}
