
@media (max-width:1235px){
    header nav ul a{
font-size: 25px;
 }
.audioobjetivo{
    width: 70%;
        .objetivofrase{
            font-weight: 80;
            font-size: 40px;
            /* font-family: 'Dancing Script', cursive;  no funciona el cursive a pesar de sacarlo de google*/ 
        }
    }
    .berazategui{
        font-size: 30px;
    }

.gridcontainer{
    grid-template-rows: 10vh 140vh 20vh 10vh;
}
}

