@media (max-width:1000px){
 img.whatsapp{
        width: 60px;
        height: 60px;
    } 
        .sectionproductos{
    h2{
        margin-bottom: 10px;
        
    }
    ul{
        h3{
            font-size: 30px;
            font-family: 'Caprasimo', cursive; 
            padding-top: 10px;
        }
    li{
    font-size: 20px;
    }
        }
    }
    .formulario{
        padding-top: 10px;
    justify-content: center;
    form {
    fieldset{
        legend{
            font-size: 15px;
        }
        label{
            font-size: 15px;
        }
    }
    }
     .grid4{
         grid-template-rows: 10vh 80vh 10vh;
     }
    }
}