@media (max-width:320px){   /*vista mobile s*/
    header{
        display: flex;
    flex-direction: column;
    align-items: center;
    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        a{
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
    }
    .imgfrase{
    flex-direction: column;
    width: 100%;
        align-items: center;
        .objetivobeto{
            width: 20%;
            height: 20%;
            margin-top: 10px;
        }
        .objetivofrase{
            font-weight: 80;
            font-size: 30px;
    }
    }
.video1{
    margin-top: 5px;
    width: 100%;
    margin-bottom: 10px;
    } 
    .gridcontainer{
        display: grid;
        grid-template-rows: 20vh 85vh 30vh 10vh;
    grid-template-areas: 
    "header"
    "main"
    "section"
    "footer";
    }
    .whatsapp{
        bottom: 3px;
        right: 5px;
        width: 16%;
    } 
    .berazategui{
        font-size: 22px;
    }
    /*historia */
    .grid1{
        grid-template-rows: 30vh 60vh 10vh;
        .mainhistoria{
            padding-top: 10px;
            .historia1{
                .imglocal{
                    width: 70%;
                }
            }
            .historia2{
                .imgoficina{
                    width: 70%;
                }
            }
        }
    }
    .video3{
        width: 350px;
        height: 350px;
    }
    .grid2{
        grid-template-rows: 30vh 90vh 10vh;
    }
    .grid3{

        grid-template-rows: 30vh 80vh 10vh;
        
    }
}

